# Object files
**/objs/
**/*.o

# Libraries
**/*.a

# Executables
**/*.out
**/*.exe
**/a.out

# Documentation
docs/

# on mac
**/.DS_Store
**/.vscode
**/.github
**/.devcontainer

# Project files
ex00/btc
ex00/data.csv
ex01/RPN
ex02/PmergeMe
ex02/tests/numbers.txt
